@import "src/utils/themes/variables.module";

.link {
  margin-top: 10px;
  text-align: right;
  margin-bottom: -10px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: $primary-font;
  color: $secondary-color-dark;
  margin-right: 30px;

  &:hover {
    text-decoration: underline;
  }

  .icon {
    display: inline-block;
    transform: translateY(3px);
    margin-right: 1px;
  }

  .text {

  }
}