$primary-color-light: #fff;
$primary-color-main: #c5c5c5;
$primary-color-dark: #000;

$secondary-color-main: gold;
$secondary-color-dark: #BB9E00FF;

$text-color-error: #ff0000;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$font: 'Rakkas', cursive;