@import "../../../../utils/themes/variables.module";

.logo {
  display: none;
}

// sm --- Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .logo {
    display: flex;
    align-items: center;
    min-height: 80px;
    font-family: $font;
    font-size: 36px;
    text-transform: uppercase;
    justify-content: center;
  }
}

// md --- Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo {
    justify-content: left;
  }
}