@import "../../../../../../../utils/themes/variables.module";

.title {
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  color: $primary-color-dark;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  transition: all ease .3s;
  // xl --- Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 18px;
  }

  a {
    color: $primary-color-dark;
  }

  span {
    display: inline-block;
  }
}

.weight {
  color: $primary-color-dark;
  text-transform: lowercase;
  font-family: $primary-font;
  font-size: 16px;
}