@import "../../../../../../../../../../utils/themes/variables.module";

.wrapper {

}

.option {
  margin-left: 10px;
  font-family: $secondary-font;
  .name {

  }
  .price {
    font-weight: bold;
  }
}